/* 1. додайте клас до h1 і зробіть весь текст для класу заглавними літерами (text-transform: uppercase) */
h1{
    text-transform: uppercase;
}
/* 2. придумайте назву класа для списку цілей і встановіть колір шрифту червоним у шістнадцятковому форматі */
.target_color{
    color: #ff0000;
}
/* 3. пунктам списку цілей за класом дайте колір заднього фону yellow і нахилений шрифт (font-style: italic)*/
.list__item{
    background: yellow;
    font-style: italic;
}
/* 4. для усіх впорядкованих списків задайте рамку 1px solid red */
ol {
    border: 1px solid red;
    padding: 20px;
    border-radius: 4px;
}
/* 5. задайте id (ідентифікатор) для заголовку першого рівня і встановіть на нього колір шрифта green */
#main_text{
    color: green;
}
/* 6. для всіх посилань на PDF-документи втсановити стиль: колір зелений і font-style: italic */
ol li a{
    color: green;
    font-style: italic;
}
/* 7. для всіх посилань втсановити колір шрифта violet та заберіть підкреслення (text-decoration: none).
   Питання: чому PDF-файли вже не підкреслені але все ж лишились зелені? */
a{
    color: violet;
    text-decoration: none;
}

/* 8. Встановіть всі заглавні літери (text-transform: uppercase) для усіх вкладнених списків другого рівня*/
ul li ul {
    text-transform: uppercase;
}
/* 9. для всіх посилань що знаходяться всередині абзаців встановити колір шрифта magenta і задній фон кольору mistyrose */
p a{
    color: magenta;
    background: mistyrose;
}
/* 10. створити клас bold який буде будь-який текст перетворювати на жирний і застосувати його: 1) до двох останіх   пунктів цілей 2) до першого довгого абзацу (той що під основним заголовком).
  Питання: чому у нас одночасно і bold i italic?
*/
.bold{
    font-weight: bold;
}
/* 11. для всіх тегів li з класом bold встановити всі заглавні літери */
li.bold {
    text-transform: uppercase;
}
/* 12. другий довгий абзац і передостанній "Написати нам листа" вирійвняйте по правому краю, додайте синю рамку навколо та встановіть розмір шрифта 20px */
p.right_text{
    border: 2px solid blue;
    font-size: 20px;
    text-align: right;
}
/* 13. на тег h1 встановіть колір шрифта червоний. Чому він не спрацює і що можна зробити щоб він спрацював?*/
h1 {
    color: red !important;
/*Зміна кольору не працювала, адже id є важливішимм за class чи звернення на пряму. Для вирішення цієї проблеми, я додав слово "!important" */
}

/* 14. для всіх можливих селекторів встановіть властивість box-sizing: border-box (у DevTools перегляньте які CSS властивості у елементів активні і визначте чи успішно виконано завдання) */
*{
    box-sizing: border-box;
}
/* 15. зробіть так, щоб задній фон цілей був не на всю ширину сторінки бо це блочці елементи, а лише по довжині кожного з елементів (відповідь: огорнути текст у рядкові span-и застосувати background до них) */

span{
    background-color: yellow;
    padding: 1px;
    border-radius: 3px;
}