*{
    color: white;
    text-decoration:none;
}

body{
    background-color: black;
}

a{
    color: rgb(136, 0, 255);
}

/* h1{
    color: yellow;
    text-align:center
} */

.text{
    text-align:center
}

.text1{
    text-indent: 20px;
}

li{
    list-style-type: none;
    line-height: 150%;
}

